<?xml version="1.0"?>
<appSettings>
  <add key="SQLInject" value="and |exec |insert |select |delete |update |count | * |chr |mid |master |truncate |char |declare " />
  <add key="SQLInjectErrPage" value="ShowErr.aspx" />
  <add key="WebDomain" value="www.pineapplecake259.com"/>
  <add key="AccountKey" value="[pineapplecake259]"/>
</appSettings>